.req-star {
    color: #CC0000;
    font-size: 11px;
}
.po-contact-details-box {
    min-height: 150px;
    padding: 10px;
}
.po-contact-details-box-bg {
    background-color: #F7F7F7;
}
.loader {
    background: url("/img/loader.gif") no-repeat center;
}
.w150 {
    width: 150px;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}
.purchase-order-table,
.purchase-order-table > thead > tr > th,
.purchase-order-table.table-bordered > tbody > tr > td {
    border: 1px solid #ADADAD;
}
.purchase-order-table > thead > tr > th {
    background-color: #F7F7F7;
}
.po-big-box {
    padding: 10px;
    min-height: 150px;
    border: 1px solid #ADADAD;
}
.delete-action {
    color: #CC0000;
    font-size: 16px;
    cursor: pointer;
}
.po-total {
    font-size: 32px;
}