html, body {
    background-color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
}

.app-sidebar {
    background-color: #ececec;
}

.center-login {
    margin-top: 15%;
    margin-left: 25%;
}

.center-login .mdl-layout__header-row {
    padding: 0 40px 0 20px;
}

.center-login-title {
    width: 330px;
    text-align: center;
    ;
}